.TheHeader {
  display: flex;
  flex-direction: column;

  &Nav {
    display: flex;
    justify-content: space-between;
  }

  &Info {
    display: flex;
    flex-direction: column;
    background-color: hsl(257, 27%, 26%);
    border-radius: 1rem;
    padding: 1.5rem;
    text-align: center;
    position: fixed;
    left: 10%;
    top: 7%;
    width: 70%;
  }

  &Items {
    text-decoration: none;
    font-family: 'Poppins', sans-serif;
    margin-bottom: 2rem;
    color: #fff;
    font-weight: 700;
  }

  &Button {
    padding: 0.4rem 0.9rem;
    border-radius: 1rem;
    font-family: 'Poppins', sans-serif;
    font-weight: 700;
    color: #fff;
    font-size: 0.8rem;
  }

  &LoginItem {
    border-top: 0.04rem solid #ccc;
    padding: 1.5rem;
    margin-bottom: 0;
  }
}

.Button {
  text-decoration: none;
  background: none;
  border: none;
  outline: none;
  cursor: pointer;
  i {
    color: hsl(257, 7%, 63%);
  }
}
