.Card {
  background-color: #fff;
  padding: 1rem;
  display: flex;
  flex-direction: column;
  margin-left: 2rem;
  border-radius: 0.5rem;
  z-index: 1000;

  &Photo {
    background-color: hsl(257, 27%, 26%);
    border-radius: 50%;
    padding: 1rem;
    width: 15%;
    height: 20%;
    transform: translateY(-90%);
  }

  h1 {
    color: hsl(255, 11%, 22%);
    font-size: 1rem;
    transform: translateY(-200%);
  }

  p {
    font-size: 0.8rem;
    color: hsl(257, 7%, 63%);
    width: 20rem;
    transform: translateY(-50%);
    letter-spacing: 0.1rem;
  }
}

@media only screen and (max-width: 1300px) {
  .Card {
    margin-bottom: 6rem;
    text-align: center;
    margin-left: 0rem;
    align-items: center;
    justify-content: center;

    h1 {
      transform: translateY(-180%);
    }
    p {
      // width: 15rem;
      font-size: 0.8rem;
      width: 18rem;
      transform: translateY(-50%);
    }
  }
}
